* {
  box-sizing: border-box;
}

body {
  background-color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  animation: slide-in 0.5s;
}

.header {
  font-family: "roboto", sans-serif;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
}

.title {
  font-family: "bebas neue", cursive;
  font-size: 50px;
}

.player-info {
  background-color: #7d47d3;
  border: solid 3px #eeeeee;
  color: #eeeeee;
  font-size: 30px;
  font-family: "roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slide-in 0.5s;
}

@keyframes slide-in {
  from {
    margin-left: 500px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.name {
  font-size: 30px;
  border: solid 3px #40aa57;
}

.info-button {
  font-family: "roboto", sans-serif;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  color: #eeeeee;
  background-color: #40aa57;
}

.info-button:hover {
  color: #40aa57;
  background-color: #eeeeee;
  transition: 0.5s;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: none;
  width: 500px;
  animation: slide-in 0.5s;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color: #eeeeee;
  height: 150px;
  width: 150px;
  border: solid 3px white;
}

.win-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-win {
  font-family: "bebas neue", cursive;
  font-size: 50px;
  color: #eeeeee;
  animation: slide-in 0.7s;
}

.draw {
  font-family: "bebas neue", cursive;
  font-size: 50px;
  color: #eeeeee;
  animation: slide-in 0.7s;
}

.win-button {
  font-family: "roboto", sans-serif;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
  color: #eeeeee;
  background-color: #40aa57;
  animation: slide-in 0.9s;
}

.win-button:hover {
  color: #40aa57;
  background-color: #eeeeee;
  transition: 0.5s;
}

.tile:hover {
  background-color: #7d47d3;
}

.hidden {
  display: none;
}
