* {
  box-sizing: border-box;
}

body {
  background-color: #2e2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
}

.player-info {
  border: solid 3px #eeeeee;
  color: #eeeeee;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 30px;
}

.info-button {
  font-size: 30px;
  padding: 5px;
  margin: 10px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: none;
  width: 500px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color: #eeeeee;
  height: 150px;
  width: 150px;
  border: solid 3px white;
}

.tile:hover {
  background-color: #141414;
}

.hidden {
  display: none;
}
